body{
    background-color: #eff3f6;   
    font: 16px 'Courier New', monospace;
}

.main{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

.links-container:hover a{
    color: rgba(47, 54, 61, 0.50);
}

.links-container a{
    text-decoration: none;
    color:#1f1f1f;   
}

.links-container a:hover{
    color: #1f1f1f;
}